
<h1 class="page-header">Categorias</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            Listando Categorias
            <%= link_to new_backoffice_category_path, class:"btn btn-success btn-circle btn-lg", style:"float:right" do%>
            <i class="fa fa-plus"></i>
            <% end %>
        
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Description</th>
                            <th><center>Ações</center></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @categories.each do |item| %>
                        <tr>
                            <td><%= item.id %></td>
                            <td><%= item.description %></td>
                            <td style="width: 175px">
                            <%= link_to edit_backoffice_category_path(item.id) do %>
                            <button type="button" class="btn btn-info">Editar</button>
                            <% end %>
                            &nbsp &nbsp
                            <button type="button" disabled class="btn btn-danger">Apagar</button></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
